  
.MuiButton-root.MuiButton-outlined {
    font-size: 16px;
    border-color: black !important;
    color: black !important;
    font-family: "Roboto Mono", monospace !important;
    font-optical-sizing: auto !important;
    font-weight: 200 !important;
    font-style: normal !important;
    text-transform: lowercase !important;
    background-color: #f5f5f5;
    margin: 5px;
    margin-top: 10px;
}
.MuiButton-root.MuiButton-outlined:hover {
    background-color: white;
}