.MuiList-subheader {
    background-color: #c1c17d !important;
    color: white;
    font-family: "Source Serif 4", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    height: fit-content;
}
#list-subheader{
    color: white;
    font-size: 24px;
    font-family: "Source Serif 4", serif;
    font-optical-sizing: auto;
    font-weight: 250;
    font-style: normal;  
    background-color: #c1c17d !important;
    height: fit-content;
}