#win-screen {
  position: absolute;
  background-color: #e4e2d8;
  width: 100%;
  height: 100vh;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#win-screen h1 {
  margin: 0;
  font-family: "Source Serif 4", serif;
  font-weight: 400;
  padding: 0px 28px;
  font-size: 48px;
  text-align: center;
}

@media (min-width: 768px) {
    #win-screen h1 {
        padding: 0px;
    }
}

.hidden-word {
  display: inline-block;
  font-family: "Source Serif 4", serif;
  font-weight: 300;
  font-size: 42px;
  background-color: black;
  padding: 0.25rem 0.5rem;
  user-select: none;
  border-radius: 4px;
}

.hidden-word:hover {
    color: white;
}

#guess-string {
  font-family: "Source Serif 4", serif;
  font-weight: 300;
}