body {
    background-color: rgb(244, 244, 235);
    background-image: url("../public/bedge-grunge.png");
    overflow: hidden;
    position: relative;
}

#top-info {
    font-family: "Source Serif 4", serif;
    display: flex;
    flex-direction: column;
    margin-left: 1vw;
    gap: 10px;
    width: fit-content;
}

#instruction {
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;  
    border-bottom: solid;
    border-bottom-width: 1px;
    font-size: 18px;
    margin-top: 1vh;
    margin-bottom: 0;
}

@media (min-width: 768px) {  
  #instruction {
    font-size: 38px;
  }
}

#mistake-text {
    font-size: 18px;
}
@media (min-width: 768px) {  
  #mistake-text {
    font-size: 28px;
  }
}

#inputs {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    margin-bottom: 1.5vh;
    padding: 0 5%;
    z-index: 10;
}

@media (min-width: 768px) {
  #inputs {
    margin-bottom: 4vh;
    padding: 0 12.5%;
    }
}

#github {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 1.5vh;
    cursor: pointer;
    z-index: 100;
    visibility: hidden;
}
#github:hover {
    opacity: 0.5;
}

@media (min-width: 768px) {
    #github {
        visibility: visible;
        top: 0;
        padding: 2vh;
    }
}
