body {
    background-color: rgb(244, 244, 235);
    background-image: url("./bedge-grunge.png");
}

#row-container{
    display: flex;
    flex-direction: row;
    padding-right: 2vw;
    gap: 4vw;
    overflow: scroll;
    max-height: 50vh;
}

#instruction{
    font-family: "Source Serif 4", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;  
    margin-left: 1vw;
}

#inputs {
    position: fixed;
    left: 15%;
    right: 25%;
    bottom: 0px;
    margin-bottom: 4vh;
    width: 75%;
}